p {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: var(--spacing-4);
}

h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacing-4) 0;
}

h2 {
  position: relative;
  font-size: 1.875rem;
  padding: var(--spacing-1) var(--spacing-3);
  border-bottom: solid 6px var(--color-primary);
}

h2:before {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: "";
  background: var(--color-secondary);
}
h3 {
  font-size: 1.5rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-left: 6px solid var(--color-primary);
  margin-bottom: var(--spacing-4);
  background-color: var(--color-gray-50);
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

@media (max-width: 768px) {
}
