.article-body p {
  font-size: 1rem;
  line-height: 2;
  padding: var(--spacing-1);
  margin-bottom: var(--spacing-3);
  color: var(--color-gray-850);
}

.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  margin: var(--spacing-4) 0;
  text-wrap: pretty;
}

.article-body h2 {
  position: relative;
  font-size: 1.875rem;
  padding: var(--spacing-1) var(--spacing-3);
  border-bottom: solid 6px var(--color-primary);
}

.article-body h2:before {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 20%;
  height: 6px;
  content: "";
  background: var(--color-secondary);
}
.article-body h3 {
  font-size: 1.5rem;
  padding: var(--spacing-2) var(--spacing-3);
  border-left: 6px solid var(--color-primary);
  margin-bottom: var(--spacing-4);
  background-color: var(--color-gray-50);
}

.article-body h4 {
  font-size: 1.375rem;
}

.article-body h5 {
  font-size: 1.25rem;
}

.article-body h6 {
  font-size: 1.125rem;
}

.article-body ul,
.article-body ol {
  list-style-position: inside;
  padding: var(--spacing-1) var(--spacing-3);
}

.article-body ul li {
  list-style: square;
}

.article-body ol li {
  list-style: decimal;
}

.article-body ol li::marker {
  font-weight: bold;
}

.article-body li {
  margin-left: var(--spacing-4);
  padding: var(--spacing-1);
}

@media (max-width: 768px) {
}
