---
import Panel from "./panel.astro";
import Toolbar from "./toolbar.astro";
import { Icon } from "astro-icon/components";
const { panels } = Astro.props;
---

<div class="header-wrapper">
  <header class="" id="header">
    <Toolbar panels={panels} />
    <Panel panels={panels} />
  </header>
</div>

<style>
  header {
    height: 100%;
    display: flex;
    width: auto;
  }
</style>
