---
import "@pagefind/default-ui/css/ui.css";

let jsPath = "/pagefind/pagefind-ui.js";

// 開発モードでは `/dist` からパスを指定する
if (import.meta.env.DEV) {
  jsPath = "/dist" + jsPath;
}
---

<div class="search py-4"></div>

<script>
  import { PagefindUI } from "@pagefind/default-ui";

  const load = () => {
    new PagefindUI({
      element: ".search",
    });
  };
  document.addEventListener("DOMContentLoaded", load);
  document.addEventListener("astro:after-swap", load);
</script>

<script is:inline src={jsPath}></script>

<style is:global>
  .pagefind-ui__result-thumb {
    display: none;
  }
  :root {
    --pagefind-ui-scale: 0.875;
    --pagefind-ui-primary: var(--color-primary);
    --pagefind-ui-text: var(--color-text);
    --pagefind-ui-background: var(--color-background);
    --pagefind-ui-border: var(--color-gray-200);
    --pagefind-ui-tag: var(--color-gray-200);
    --pagefind-ui-border-width: 2px;
    --pagefind-ui-border-radius: 0;
    --pagefind-ui-image-border-radius: 0;
    --pagefind-ui-image-box-ratio: 0 / 0;
    --pagefind-ui-font: inherit;
  }
  .pagefind-ui--reset mark {
    background-color: var(--color-accent);
  }
</style>
