---
import BaseLayout from "./BaseLayout.astro";
type Post = {
  data: {
    title: string;
    category: {
      slug: string;
    };
  };
  id: string;
  collection: string;
};
const Date_Conversion = (date: string) => {
  return new Date(date).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });
};

const { posts, panels } = Astro.props;
---

<BaseLayout panels={panels}>
  <ul>
    {
      posts.map((post: Post) => (
        <li>
          <a
            href={
              "/" +
              post?.collection +
              "/" +
              post?.data?.category?.slug +
              "/" +
              post?.id
            }
          >
            {post?.data?.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
