---
import BaseLayout from "./BaseLayout.astro";
import Image from "astro/components/Image.astro";

const Date_Conversion = (date: string) => {
  return new Date(date).toLocaleDateString("ja-JP", {
    year: "numeric",
    month: "2-digit",
    day: "2-digit",
  });
};
const data = Astro.props;
console.log(data);
---

<BaseLayout>
  <article>
    <div>
      <h1>{data.content.title}</h1>
      <time> {Date_Conversion(data.content.pubDate)}</time>
      {
        data.content.updDate && (
          <time> {Date_Conversion(data.content.updDate)}</time>
        )
      }
    </div>
    <div>
      <slot />
    </div>
  </article>
</BaseLayout>
